*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.super-center {
  display: grid;
  place-items: center;
}

.grid-header {
  background-color: transparent !important;
  color: #fff !important;
  color: light-dark(#000, #fff) !important;
  border: none !important;
}

.year-grid {
  --gap: 1px;
  --background-color: #fff;
  --text-color: #000;

  --border-color: currentColor;
  --border-width: 1px;
  --border-radius: 2px;

  width: min-content;

  display: grid;
  grid-template-columns: repeat(54, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: column;

  gap: var(--gap, 1px);

  > * {

    font-size: .5rem;

    block-size: 1rem;
    aspect-ratio: 1 / 1;

    color: var(--text-color, #000);
    background-color: var(--background-color, #fff);

    border-width: var(--border-width, 1px);
    border-style: solid;
    border-radius: var(--border-radius, 2px);
    border-color: var(--border-color, currentColor);
  }

}
